/* banner part start */
body{
    font-family: 'Montserrat', sans-serif;
}
.bg-color{
    background-color: #fceae8;
}
.btn-warning-color{
    background-color: #ff3484 !important
}
.text-white{
    color: #ffffff !important;
}
/* banner part end */