/* navbar css start */
/* .bg-light {
    background-color: #f8f9fa!important;
    margin: 0 50px;
} */
/* navbar css end */

/* banner part start */
body{
    font-family: 'Montserrat', sans-serif;
}
.bg-color{
    background-color: rgb(255, 232, 239);
}

/* banner part end */